In [41]:
import pandas as pd
import json
# import gdown


birthday_df=pd.read_excel("excel_data/birthdays.xlsx")
anniversary_df=pd.read_excel("excel_data/anniversaries.xlsx")

# # File ID from Google Drive link
# file_id = "https://docs.google.com/spreadsheets/d/1Z9IA4Aert5fUN2hftvyuhwe1ABgmzN_z/edit?usp=drive_link&ouid=102378055089801091906&rtpof=true&sd=true"

# # Construct the direct download URL
# url = f"https://drive.google.com/uc?id={file_id}"

# # Output local file name
# output_path = "excel_data/birthdays.xlsx"

# # Download the file
# gdown.download(url, output_path, quiet=False)

# birthday_df=pd.read_excel(output_path)

In [42]:
birthday_df.head()

            Name  Date     Month   Birthday
0  Bharat Bansal    10   January 2025-01-10
1        Archana    23   January 2025-01-23
2          Ayush    18  February 2025-02-18
3          Akash    18     March 2025-03-18
4        Vishesh    24     March 2025-03-24

In [43]:
anniversary_df.head()

      Name  Date     Month   Spouse Anniversary
0    Ayush    12       May   Shubhi  2025-05-12
1  Shubhi     12       May    Ayush  2025-05-12
2  Vishesh     1  December   Shikha  2025-12-01
3  Shikha      1  December  Vishesh  2025-12-01
4    Akash     2  December     Neha  2025-12-02

In [44]:
birthday_df['birthday_str'] = birthday_df['Birthday'].astype(str)
anniversary_df['anniversary_str'] = anniversary_df['Anniversary'].astype(str)

birthday_df['birthday_str']=birthday_df['birthday_str'].apply(lambda x: x[5:])
anniversary_df['anniversary_str']=anniversary_df['anniversary_str'].apply(lambda x: x[5:])

birthday_df=birthday_df.loc[:,["Name","birthday_str"]]
anniversary_df=anniversary_df.loc[:,["Name","anniversary_str","Spouse"]]

In [45]:
birthday_smallcase_df = birthday_df.applymap(lambda x: x.lower() if isinstance(x, str) else x)
anniversary_smallcase_df = anniversary_df.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [46]:
birthday_final = {"birthdays": birthday_smallcase_df.to_dict(orient="records")}
anniversary_final = {"anniversaries": anniversary_smallcase_df.to_dict(orient="records")}

In [47]:
with open("../data/birthday_json.json", "w") as f:
    json.dump(birthday_final, f, indent=4)

with open("../data/anniversary_json.json", "w") as f:
    json.dump(anniversary_final, f, indent=4)

In [48]:
# birthday_final.to_json("../js/data/birthday_json.json",orient="records", lines=True)
# anniversary_final.to_json("../js/data/anniversary_json.json",orient="records", lines=True)